body {
    background-color: #f9faff;
}

.navbar {
    background-color: #67605c;
    padding: 5px, 0px, 0px, 0px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.navBtns {
    margin: 0;
    padding: 2px;
}

#logoPic {
	display: block;
    border-radius: 30px;
    margin-bottom: 10px;
    max-width: 100%;
    -webkit-animation-duration: 1s; /* Amimation*/
    -webkit-animation-delay: 0s; /* Amimation*/
}

#parkBtn {
    max-width: 100%;
    margin: 0, 0;
    -webkit-animation-delay: 1s; /* Amimation*/
}

#leaveBtn {
    max-width: 100%;
    margin: 0, 0;
    -webkit-animation-delay: 1s; /* Amimation*/
}

#regBtn {
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: white;
    -webkit-animation-delay: 2s; /* Amimation*/
}

#logInBtn {
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: white;
    -webkit-animation-delay: 2s; /* Amimation*/
}

#contactBtn {
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: white;
    -webkit-animation-delay: 2s; /* Amimation*/
}

#logoPic:hover {
    transform: scale(1.2); /* 120% zoom */
}

.modal {
    border-radius: 50px;
    font-size: 13px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}

.modal-body {
    background-color: #f9faff;
}

.modal-header {
    background-color: #67605c;
    color: white;
}
