#map {

    height: 58%;
    width: 58%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: white;

}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#parking {

    font-family: 'Fjalla One', sans-serif;
}

#parkingtable {

    font-family: "Arial", sans-serif;
    font-size: 13px;
}
